body {
    margin: 0;
    background: lightskyblue;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
}
nav #menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
nav #menu li a {
    display: flex;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
#presentation {
    display: flex;
    flex-direction: column;
    width: 20%;
}
header .image {
    display: flex;
    width: 30%;
    height: 50%;
}
header #reseaux .insta {
    display: flex;
    width: 30%;
}
